[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/classic"]
	path = themes/classic
	url = https://github.com/goodroot/hugo-classic.git
[submodule "prakhrr.github.io"]
	path = prakhrr.github.io
	url = git@github.com:prakhrr/prakhrr.github.io.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
